<h2> Your laundry Dashboard </h2>

{{#if user.isLaunderer}}
  <h3> You are a launderer </h3>

  <p>Your laundering fee is<b>${{user.fee}}.</b></p>

{{else}}
  <h3> Want to become a launderer? </h3>

  <form action="/laundry/launderers" method="post">
    <div>
      <label for="fee-input"> Set your fee </label>
      <input type="number" name="fee" id="fee-input">
    </div>

    <button class="addBut">Become a Launderer</button>
  </form>
{{/if}}
<br>
<br>
<h3><b>Pending Pickups</b></h3>
<br>
<ul>
{{#each pickups}}
    <li>
      <h5>- {{this.pickupDate}}</h5>
      <ul>
        <li><b>User</b>: {{this.user.name}}</li>
        <li><b>Launderer</b>: {{this.launderer.name}}</li>
      </ul>
    </li>
{{/each}}
</ul>
